<ul class="nav nav-tabs bg-dark text-light">
  <li class="nav-link"><a routerLink="/Principal">Ir a inicio</a></li>
  <li><a class="nav-link" (click)="TraerTodos()">Todos los jugadores</a></li>
  <li><a class="nav-link" (click)="TraerGanadores()">Los ganadores</a></li>
  <li><a class="nav-link" (click)="TraerPerdedores()">Los perdedores</a></li>
</ul>



<table class="table table-dark">
  <thead>
    <tr class="table-sucess">
      <th>usuario</th>
      <th>cuit</th>
      <th>sexo</th>
      <th>gano</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jugador of listado" >
      <td>{{jugador.usuario}} </td>
      <td>{{jugador.cuit}} </td> 
      <td>{{jugador.sexo | sexo| uppercase}} </td> 
      <td>{{jugador.gano}} </td> 
      
    </tr>
   
  </tbody>
</table>