<!--div *ngFor="let juego of listado">

<p> {{juego.nombre}} </p>
<p> {{juego.jugador}} </p>

</div-->

<table class="table table-dark">
    <thead>
      <tr class="table-sucess">
        <th>Juego</th>
        <th>Jugador</th>
        <th>Puntaje TA-TE-TI</th>
        <th>Puntaje Anagrama</th>
        <th>Puntaje Pelotita</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{usuario.email}} </td>
        <td>{{usuario.puntajetateti}}</td> 
        <td>{{usuario.puntajeanagrama}}</td> 
        <td>{{usuario.puntajepelotita}}</td>  
      </tr>
     
    </tbody>
  </table>